/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?-i6hczf");
  src: url("../fonts/icons.eot?#iefix-i6hczf") format("embedded-opentype"), url("../fonts/icons.woff?-i6hczf") format("woff"), url("../fonts/icons.ttf?-i6hczf") format("truetype"), url("../fonts/icons.svg?-i6hczf#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-play:before {
  content: "\e606"; }

.icon-stop:before {
  content: "\e607"; }

.icon-pause:before {
  content: "\e608"; }

.icon-forward:before {
  content: "\e609"; }

.icon-backward:before {
  content: "\e60a"; }

.icon-right:before {
  content: "\e60d";
  font-size: 1.5em; }

.icon-left:before {
  content: "\e60e";
  font-size: 1.5em; }

.icon-up:before {
  content: "\e60f";
  font-size: 1.5em; }

.icon-down:before {
  content: "\e610";
  font-size: 1.5em; }

.icon-share:before {
  content: "\e614"; }

.icon-plus:before {
  content: "\e616"; }

.icon-close:before {
  content: "\e617"; }

.icon-check:before {
  content: "\e619"; }

.icon-export:before {
  content: "\e61a"; }

.icon-paperplane:before {
  content: "\e61c"; }

.icon-cc:before {
  content: "\e625"; }

.icon-github:before {
  content: "\e626"; }

.icon-vimeo:before {
  content: "\e627"; }

.icon-twitter:before {
  content: "\e628"; }

.icon-facebook:before {
  content: "\e629"; }

.icon-google:before {
  content: "\e62a"; }

.icon-tumblr:before {
  content: "\e62b"; }

body {
  font-family: "proxima-nova",helvetica,arial,sans-serif;
  font-size: .8em;
  color: #333333; }
  @media screen and (min-width: 32em) {
    body {
      font-size: 1em;
      line-height: 1.6667em; } }

/* Modular Scale 
---------------------- 
15px @ 1:1.5	 
30px @ 1:1.5	 
----------------------*/
h1 {
  font-size: 3.0000em;
  /* 45px */
  line-height: 1.1111em;
  /* 50px */
  margin-top: 0.5556em;
  margin-bottom: 0.0000em;
  font-weight: 800; }

h2 {
  font-size: 3.0000em;
  /* 45px */
  line-height: 1.1111em;
  /* 50px */
  margin-top: 0.5556em;
  margin-bottom: 0.0000em; }

h3 {
  font-size: 2.0000em;
  /* 30px */
  line-height: 1.6667em;
  /* 50px */
  margin-top: 0.8333em;
  margin-bottom: 0.0000em; }

h4 {
  font-size: 1.6667em;
  /* 25px */
  line-height: 1.0000em;
  /* 25px */
  margin-top: 1.0000em;
  margin-bottom: 1.0000em; }

h5 {
  font-size: 1.5000em;
  /* 22.5px */
  line-height: 1.1111em;
  /* 25px */
  margin-top: 1.1111em;
  margin-bottom: 0.0000em; }

h6 {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 0.0000em; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 53.33333em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

p {
  font-size: 1em;
  /* 15px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0; }

small, ul, ol {
  font-size: 1em;
  /* 13.333px */
  line-height: 1.8750em;
  /* 25px */
  margin-top: 1.8750em;
  margin-bottom: 0.0000em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.6667em 0;
  height: 0; }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 3em;
  margin: 2em 0; }
  @media screen and (min-width: 53.33333em) {
    blockquote {
      font-size: 1.25em; } }
  blockquote small {
    display: block;
    float: left;
    font-size: .8em;
    font-weight: 300;
    font-style: normal;
    margin-top: .75em; }
  blockquote .quoteauth {
    font-size: .9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .25em; }
    blockquote .quoteauth:before {
      content: "—";
      margin: 0 .5em 0 0; }

blockquote:before {
  content: "\201c";
  font-size: 5em;
  font-weight: 300;
  text-indent: -0.75em;
  margin-top: .25em;
  float: left;
  opacity: 0.25; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 53.33333em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

/* ======================================================== LINKS / BUTTONS  */
a, ul a, p a {
  color: inherit;
  text-decoration: underline; }
  a:hover, ul a:hover, p a:hover {
    color: #e2231a;
    text-decoration: underline; }
  a:active, ul a:active, p a:active {
    color: #e2231a; }
  a:visited, ul a:visited, p a:visited {
    text-decoration: line-through; }

button {
  color: white;
  background-color: #e2231a;
  padding: 1em 1.25em;
  margin: 1em auto;
  outline: none;
  border: none;
  display: block;
  clear: both;
  font-weight: 400;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
  button a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em; }
    button a:hover, button a:active {
      text-decoration: none;
      color: black; }
  button .icon-play {
    font-size: 2em;
    display: block;
    width: .5em;
    height: .5em;
    padding: 0.25em 0.55em 0.75em 0.45em !important;
    margin: 0 !important; }

button.circle {
  background-color: transparent;
  border: 0.5em solid white;
  padding: .25em;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  button.circle:hover, button.circle:active {
    color: #e2231a;
    background-color: white; }

.next-section {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  color: white;
  text-decoration: none;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .next-section:hover {
    text-decoration: none;
    color: white;
    padding: 1.5em 0 .5em 0; }

li img {
  border: 2px solid white; }

/* ======================================================== LISTS */
.basic-list {
  list-style-type: disc;
  text-indent: none;
  padding: 0 0 0 1em;
  color: #888888; }
  .basic-list li {
    float: none;
    text-indent: none; }

.one-column {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: left; }
  .one-column > li {
    float: left;
    width: 90%;
    padding: 1em 5%; }

.two-columns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: left; }
  .two-columns > li {
    float: left;
    width: 90%;
    padding: 1em 5%; }
  @media screen and (min-width: 53.33333em) {
    .two-columns > li {
      width: 45%;
      padding: 1em 5% 1em 0; } }

.three-columns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: center; }
  .three-columns > li {
    float: left;
    width: 90%;
    padding: 1em 5%; }
  @media screen and (min-width: 53.33333em) {
    .three-columns > li:first-child, .three-columns > li:last-child {
      width: 29%;
      padding: 1em 4% 1em 0; }
    .three-columns > li {
      width: 30%;
      padding: 1em 4% 1em 0; } }

/* ======================================================== LAYOUTS */
/* ======================================================== LOGO / TOGGLE / NAVIGATION  */
#header #logo {
  position: fixed;
  width: 3.5em;
  height: 3.5em;
  right: 0;
  margin: .75em;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  #header #logo:hover {
    background-color: white;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); }
  #header #logo:active {
    background-color: #67b2e7; }
  @media screen and (min-width: 53.33333em) {
    #header #logo {
      width: 4em;
      height: 4em; } }
#header #toggle-btn {
  position: absolute;
  width: 2.5em;
  background-color: white;
  margin: 0;
  padding: 1em .9em; }
#header #logo, #header #toggle-btn {
  display: block;
  top: 0;
  z-index: 1000;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase; }
  #header #logo img, #header #toggle-btn img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
#header #toggle {
  left: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  outline: none;
  background-color: transparent !important; }
  #header #toggle:hover, #header #toggle:active {
    background-color: transparent !important; }

#top {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 1em 0;
  width: 100%;
  font-size: 1em;
  color: #e2231a;
  background-color: white;
  border-top: 1px solid #67b2e7;
  text-decoration: none; }
  #top .icon-up {
    display: block;
    width: 1em;
    margin: 0 auto; }
  #top:hover {
    opacity: 1;
    color: #e2231a; }
  #top:active {
    opacity: 1;
    color: #e2231a; }

.lines-button {
  padding: 0.5em 0.5em;
  transition: .1s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.25em; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2em;
  height: 0.25em;
  background-color: #e2231a;
  border-radius: 0.16667em;
  transition: .1s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2em;
    height: 0.25em;
    background-color: #e2231a;
    border-radius: 0.16667em;
    transition: .1s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.14286em center;
    transform-origin: 0.14286em center; }
  .lines:before {
    top: 0.5em;
    width: 1.6em; }
  .lines:after {
    top: -0.5em;
    width: 1.6em; }

.lines-button:hover .lines:before {
  width: 2em; }
.lines-button:hover .lines:after {
  width: 2em; }

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

*
.lines-button.x2 .lines {
  transition: background .1s .1s ease; }
  *
  .lines-button.x2 .lines:before, *
  .lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .1s .2s ease, -webkit-transform .1s ease;
    transition: top .1s .2s ease, transform .1s ease; }

.lines-button.x2.close .lines {
  transition: background .1s 0s ease;
  background: transparent; }
  .lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
    transition: top .1s ease, -webkit-transform .1s .2s ease;
    transition: top .1s ease, transform .1s .2s ease;
    top: 0;
    width: 2em; }
  .lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

#primary-nav {
  position: fixed;
  border-right: 1px solid #888888;
  width: 70%;
  padding: 2.5em 0 3.5em 0;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 20em;
  overflow-y: hidden;
  overflow-x: hidden; }
  #primary-nav h3 {
    color: #031d40; }

#primary::-webkit-scrollbar {
  display: none; }

#primary::-webkit-scrollbar {
  width: 0 !important; }

#primary {
  -ms-overflow-style: none; }

#primary, nav ol {
  position: absolute;
  width: 20em;
  padding: 2.5em 0 3.5em 0;
  background-color: white;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  width: 100%;
  color: #031d40;
  margin: 1em 0 .5em; }
  #primary li a, nav ol li a {
    display: block;
    position: relative;
    text-decoration: none;
    margin: 0;
    font-size: 1em;
    padding: .75em 1.5em;
    line-height: 150%; }
    #primary li a:hover, nav ol li a:hover {
      background-color: white;
      color: #e2231a;
      text-decoration: none; }
    #primary li a:active, nav ol li a:active {
      background-color: #e2231a;
      color: white;
      text-decoration: none; }
  #primary li a.current, nav ol li a.current {
    background-color: #e2231a;
    color: white;
    text-decoration: none; }
  #primary .toc-number, nav ol .toc-number {
    padding-right: 1em; }
  #primary .toc-name, nav ol .toc-name {
    opacity: 0;
    width: 16em;
    display: block;
    position: absolute;
    top: .75em;
    left: 4em; }

#primary-nav.open {
  opacity: 1;
  max-width: auto;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #primary-nav.open .toc-name {
    opacity: 1; }

#primary-nav.closed {
  max-width: 4em;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.fadeout {
  opacity: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.fadein {
  opacity: .75;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

/* ======================================================== OPEN / CLOSE */
.expanded {
  opacity: 1;
  max-height: auto;
  overflow: auto; }

.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid white;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

/* LAYOUT ====================== */
body {
  margin: 0 0 0 4em;
  padding: 0; }

.col1, .col2, .col2wide, .col3,
.col4, .col5, .col6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: left;
  width: 100%; }
  .col1 > div, .col1 > li, .col1 > nav, .col1 > small, .col2 > div, .col2 > li, .col2 > nav, .col2 > small, .col2wide > div, .col2wide > li, .col2wide > nav, .col2wide > small, .col3 > div, .col3 > li, .col3 > nav, .col3 > small,
  .col4 > div,
  .col4 > li,
  .col4 > nav,
  .col4 > small, .col5 > div, .col5 > li, .col5 > nav, .col5 > small, .col6 > div, .col6 > li, .col6 > nav, .col6 > small {
    float: left;
    padding: 1em;
    width: 95%;
    padding: 1em 2.5%; }

@media screen and (min-width: 32em) {
  .col2 > div, .col2 > li, .col4 > div, .col4 > li, .col6 > div, .col6 > li {
    width: 45%;
    padding: 1em 2.5%; }
  .col2 img, .col4 img, .col6 img {
    width: 100%; } }

@media screen and (min-width: 53.33333em) {
  .col2wide > div, .col2wide > li, .col2wide > nav, .col2wide > small {
    width: 45%;
    padding: 1em 2.5%; } }

@media screen and (min-width: 40em) {
  .col3 > div:first-child, .col3 > div:last-child, .col3 > li:first-child, .col3 > li:last-child, .col6 > div:first-child, .col6 > div:last-child, .col6 > li:first-child, .col6 > li:last-child {
    width: 28%;
    padding: 1em 2.5%; }
  .col3 > div, .col3 > li, .col6 > div, .col6 > li {
    width: 28%;
    padding: 1em 2.5%; } }

@media screen and (min-width: 53.33333em) {
  .col4 > div, .col4 > li {
    width: 20%;
    padding: 1em 5% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col5 > div, .col5 > li {
    width: 15%;
    padding: 1em 5% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col6 > div, .col6 > div:first-child, .col6 > div:last-child, .col6 > li, .col6 > li:first-child, .col6 > li:last-child {
    width: 13%;
    padding: 1em 3.66% 1em 0; } }

.overflow-hidden {
  overflow: hidden; }

#main {
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
  width: 100%; }
  #main > section {
    padding: 2em 0;
    margin: 0;
    text-align: center;
    z-index: 1; }

.menu-open {
  margin-left: 16em; }

.menu-closed {
  margin: 0; }

.overlay-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15); }

.overlay-wrap-35 {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35); }

.overlay-dkblue {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(3, 29, 64, 0.75); }

.floating-text {
  display: block;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  overflow: visible;
  color: white;
  z-index: 2; }

.full-screen {
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  width: 100%;
  position: relative; }
  .full-screen img {
    width: 100%; }

.wrapper header {
  text-align: left;
  padding: 22em 10% 2em;
  position: relative;
  color: white;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat; }

article {
  position: relative;
  text-align: left;
  width: 80%;
  margin: 3em auto;
  max-width: 50em; }
  @media screen and (min-width: 53.33333em) {
    article {
      width: 80%;
      margin: 3em 0 3em 10%; } }
  article > header, article > footer {
    width: 90%;
    padding: 2em 5%;
    text-align: center; }
  article h3 {
    padding-top: 1em; }
  article aside {
    font-size: .85em;
    font-style: italic;
    padding: 1em 0;
    clear: both; }
    article aside img {
      float: left;
      width: 8em;
      margin: 0 1em;
      border: 2px solid white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
      @media screen and (min-width: 80em) {
        article aside img {
          width: 100%;
          margin: 0 0 2em 0; } }
    @media screen and (min-width: 80em) {
      article aside {
        position: absolute;
        width: 30%;
        right: -35%; } }
  article .speaker {
    display: block;
    margin-left: -4em;
    position: absolute;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: .8em; }

.video-overlay {
  display: none;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 4em;
  z-index: 499; }
  .video-overlay .video-inner {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: black; }
  .video-overlay iframe {
    width: 100%;
    height: 100%; }

.close-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4em;
  width: 4em;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background-color: black;
  border-right: 1px solid #222222;
  border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .close-video:hover {
    opacity: 1;
    color: #e2231a; }
  .close-video .icon-close {
    display: block;
    vertical-align: bottom;
    margin: 0;
    width: 1em;
    height: 1em;
    padding: .5em;
    font-size: 2em; }

.flexvideo-16-9 {
  position: relative;
  padding: 0 0 56.5% 0;
  height: 0;
  margin: 1em 0; }

.flexvideo-16-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.table, .table-2, .table-3 {
  width: 100%;
  margin: 2em 0;
  text-align: right;
  color: #031d40; }
  .table tr:last-child, .table-2 tr:last-child, .table-3 tr:last-child {
    font-weight: bold;
    text-transform: uppercase; }
  .table thead, .table-2 thead, .table-3 thead {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900;
    border-bottom: 2px solid #67b2e7; }
  .table tbody, .table-2 tbody, .table-3 tbody {
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum'; }
  .table th, .table-2 th, .table-3 th {
    margin: 1em 0; }
  .table td, .table-2 td, .table-3 td {
    border-bottom: 1px dotted #eeeeee;
    font-family: monospace; }
  .table th, .table td, .table-2 th, .table-2 td, .table-3 th, .table-3 td {
    padding: .5em 1em .5em 0; }
    .table th:first-child, .table td:first-child, .table-2 th:first-child, .table-2 td:first-child, .table-3 th:first-child, .table-3 td:first-child {
      text-align: left;
      font-family: "proxima-nova", sans-serif; }
    .table th:last-child, .table td:last-child, .table-2 th:last-child, .table-2 td:last-child, .table-3 th:last-child, .table-3 td:last-child {
      padding: 0.5em 0 0.5em 1em !important; }

.table-2 th:first-child, .table-2 td:first-child {
  width: 80%; }

.table-3 th:first-child, .table-3 td:first-child {
  width: 70%; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.z-up {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 2; }

.bg-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0; }

.grantee-slider, .figure-slider {
  background-size: cover;
  background-position: center;
  position: relative; }
  .grantee-slider:before, .figure-slider:before {
    opacity: .85;
    content: " ";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .grantee-slider .wrapper, .figure-slider .wrapper {
    position: relative;
    z-index: 40;
    color: white;
    padding: 1em;
    margin: 1em auto;
    max-width: 53.33333em; }

.button {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 40%;
  height: 1em;
  padding: 1.25em 1.5em 2em 1.5em;
  color: #031d40;
  background-color: white;
  opacity: .5;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .button:hover, .button:active {
    opacity: 1; }

.prev {
  left: 0; }

.next {
  right: 0; }

#footer {
  background-color: black;
  color: #484848;
  width: 80%;
  padding: 2em 10%;
  text-align: left; }

#external-nav {
  font-weight: 600; }
  #external-nav ul {
    margin: 0;
    padding: 0; }
  #external-nav li {
    float: left;
    padding: 0 1em 0 0; }

#copyright {
  display: block;
  margin: 0; }

.nav-tabs {
  position: absolute;
  z-index: 500;
  margin: 2em 10%;
  padding: 0;
  font-size: .7em;
  font-weight: 600; }
  @media screen and (min-width: 53.33333em) {
    .nav-tabs {
      font-size: .75em; } }
  @media screen and (min-width: 66.66667em) {
    .nav-tabs {
      font-size: .85em; } }
  .nav-tabs li {
    float: left;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0; }
    .nav-tabs li a {
      display: block;
      padding: .5em 1em;
      margin: 0;
      text-decoration: none;
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-bottom: 2px solid white; }
      .nav-tabs li a:hover, .nav-tabs li a:active {
        text-decoration: none;
        background-color: white; }
  .nav-tabs li:first-child a {
    border-radius: .75em 0 0 .75em; }
  .nav-tabs li:last-child a {
    border-right: 2px solid white;
    border-radius: 0 .75em .75em 0; }
  .nav-tabs .active a {
    background-color: white; }

@media screen and (min-width: 53.33333em) {
  .abbr {
    display: none; } }

.full-name {
  display: none; }
  @media screen and (min-width: 53.33333em) {
    .full-name {
      display: inline; } }

#grantee-tabs li a {
  color: white;
  color: rgba(255, 255, 255, 0.75); }
  #grantee-tabs li a:hover, #grantee-tabs li a:active {
    color: #e2231a !important; }
#grantee-tabs .active a {
  color: #e2231a; }

#rider-tabs li a {
  color: white;
  color: rgba(255, 255, 255, 0.75); }
  #rider-tabs li a:hover, #rider-tabs li a:active {
    color: #67b2e7 !important; }
#rider-tabs .active a {
  color: #67b2e7; }

#alumni-tabs li a {
  color: white;
  color: rgba(255, 255, 255, 0.75); }
  #alumni-tabs li a:hover, #alumni-tabs li a:active {
    color: #67b2e7 !important; }
#alumni-tabs .active a {
  color: #67b2e7; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.tab-pane header {
  position: relative;
  color: white;
  text-align: left;
  padding: 5em 0 2em; }

h1 {
  text-transform: uppercase;
  letter-spacing: .15em; }

/*=================================01 intro	*/
#intro {
  background-image: url(../img/content/01intro/cover.jpg); }
  @media screen and (min-width: 53.33333em) {
    #intro .floating-text {
      font-size: 1.25em;
      top: 25%; } }
  @media screen and (min-width: 80em) {
    #intro .floating-text {
      font-size: 1.5em;
      top: 20%; } }
  #intro .logo {
    width: 8em;
    margin: 0 auto; }
    #intro .logo img {
      width: 80%;
      padding: 0 10%; }

/*=================================02 letter*/
#letter {
  color: #333333; }
  #letter h5 {
    color: #67b2e7; }
  #letter h2 {
    color: #031d40; }
  #letter p.intro {
    color: #031d40; }

.signatures {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0; }
  .signatures li {
    float: left;
    width: 15%;
    padding: 1em 5%; }
  .signatures img {
    width: 100%; }

/*=================================03 Housing*/
#housing {
  background-image: url(../img/content/03housing/housing.jpg); }

/*=================================04 about*/
#about {
  color: white;
  background-color: #e2231a; }
  #about #routemap {
    width: 90%;
    padding: 1em 5%;
    margin: 0 auto;
    max-width: 53.33333em; }
    #about #routemap img {
      width: 100%; }
  #about .routelist li {
    list-style-type: none;
    text-align: left;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0; }
    @media screen and (min-width: 53.33333em) {
      #about .routelist li {
        width: 45%;
        padding: 1em 2.5%;
        min-height: 6em; } }
    @media screen and (min-width: 66.66667em) {
      #about .routelist li {
        width: 45%;
        padding: 1em 2.5%;
        min-height: 4em; } }
  #about .label {
    display: inline-block;
    padding: .15em .75em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-right: .25em;
    font-weight: bold;
    border: 2px solid white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }

#CUS {
  background-color: #b11e44;
  color: white; }

#ME2SB {
  background-color: #fff;
  color: black; }

#NC2SD {
  background-color: #77c371;
  color: white; }

#NUS {
  background-color: #f07aa8;
  color: white; }

#P2C {
  background-color: #f38022;
  color: white; }

#P2S {
  background-color: #fccd0e;
  color: black; }

#SC2SC {
  background-color: #000;
  color: white; }

#SUS {
  background-color: #ee4823;
  color: white; }

.regional {
  background-color: black; }

/*=================================05 accomplishments*/
#accomplishments {
  padding-top: 0 !important; }
  #accomplishments h2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    z-index: 4000;
    padding: .25em 0 0 0; }
  #accomplishments h3 {
    color: #67b2e7; }
  #accomplishments .figures {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #accomplishments .figures li {
      float: left;
      width: 100%;
      padding: 1em 0; }
      @media screen and (min-width: 40em) {
        #accomplishments .figures li {
          width: 45%;
          padding: 1em 5% 1em 0; } }
      @media screen and (min-width: 53.33333em) {
        #accomplishments .figures li {
          width: 29%;
          padding: 1em 4% 1em 0; } }
    #accomplishments .figures .numbers {
      display: block;
      width: 90%;
      padding: 1.65em 5% .75em 5%;
      font-size: 5em;
      margin: 0; }
      @media screen and (min-width: 40em) {
        #accomplishments .figures .numbers {
          font-size: 8em; } }
      @media screen and (min-width: 53.33333em) {
        #accomplishments .figures .numbers {
          font-size: 10em; } }
    #accomplishments .figures h4 {
      padding-bottom: 3em; }
    #accomplishments .figures #figure-donated {
      background-image: url(../img/content/05accomplishments/figures/donated.jpg); }
    #accomplishments .figures #figure-pedaled {
      background-image: url(../img/content/05accomplishments/figures/pedaled.jpg); }
    #accomplishments .figures #figure-buildhours {
      background-image: url(../img/content/05accomplishments/figures/buildhours.jpg); }
    #accomplishments .figures #figure-buildsites {
      background-image: url(../img/content/05accomplishments/figures/buildsites.jpg); }
    #accomplishments .figures #figure-riders {
      background-image: url(../img/content/05accomplishments/figures/riders.jpg); }
    #accomplishments .figures #figure-organizations {
      background-image: url(../img/content/05accomplishments/figures/organizations.jpg); }
    #accomplishments .figures #figure-averageraised {
      background-image: url(../img/content/05accomplishments/figures/averageraised.jpg); }
  #accomplishments .figure-slider {
    min-height: 40em;
    text-align: center; }
    #accomplishments .figure-slider:before {
      background-color: #67b2e7; }
  #accomplishments #orgfigures {
    padding: 0 0 2em 0; }
  #accomplishments .numbers {
    display: block;
    font-size: 3em;
    margin: .5em 0 .5em -.05em; }
    @media screen and (min-width: 53.33333em) {
      #accomplishments .numbers {
        font-size: 4em; } }
  #accomplishments .fundraisers {
    list-style-type: none;
    padding: 0; }
    #accomplishments .fundraisers li {
      float: left;
      width: 45%;
      padding: 1em 2.5%;
      text-align: center; }
      #accomplishments .fundraisers li img {
        width: 80%;
        margin: 0 10%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
      @media screen and (min-width: 53.33333em) {
        #accomplishments .fundraisers li {
          width: 15%; }
          #accomplishments .fundraisers li img {
            width: 100%;
            margin: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%; } }

/*=================================06 scholarships*/
#scholarship {
  color: #eeeeee;
  background-color: #222222; }
  #scholarship aside {
    top: 0; }
  #scholarship #recipients {
    margin: 0 0 1em 0;
    padding: 0; }
    #scholarship #recipients li {
      color: #222222;
      list-style-type: none;
      float: left;
      width: 40%;
      margin: 1em 2.5%;
      padding: 1em 2.5%;
      text-align: center;
      background-color: #eeeeee;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em; }
    #scholarship #recipients img {
      border: 1px solid #888888;
      width: 100%;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
      border-radius: 1em; }

/*=================================07 Grantees*/
#grantees {
  background-color: white;
  color: #031d40;
  padding: 2em 0 0 0 !important; }
  #grantees .swipe {
    background-color: #031d40; }

#grantee-1 .bg-wrap {
  background-image: url(../img/content/07grantees/grantee_antelopevalley.jpg); }

#grantee-2 .bg-wrap {
  background-image: url(../img/content/07grantees/grantee_portland.jpg); }

#grantee-3 .bg-wrap {
  background-image: url(../img/content/07grantees/grantee_nola.jpg); }

#grantee-4 .bg-wrap {
  background-image: url(../img/content/07grantees/grantee_colorado.jpg); }

#grantee-1, #grantee-2, #grantee-3, #grantee-4 {
  position: relative; }
  #grantee-1 .bg-wrap, #grantee-2 .bg-wrap, #grantee-3 .bg-wrap, #grantee-4 .bg-wrap {
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat; }
  #grantee-1 header, #grantee-2 header, #grantee-3 header, #grantee-4 header {
    padding: 15em 10% 2em;
    background-color: #e2231a;
    background-color: rgba(226, 35, 26, 0.85); }
  #grantee-1 .content, #grantee-2 .content, #grantee-3 .content, #grantee-4 .content {
    padding: 2em 10%;
    max-width: 53.33333em;
    text-align: left; }

.grantee-slider {
  text-align: left; }
  .grantee-slider:before {
    background-color: #031d40; }

#grantee-tab-content {
  background-color: white; }

/*=================================08 hosts*/
#hosts {
  padding-top: 0 !important; }
  #hosts header {
    background-image: url(../img/content/08hosts/hosts.jpg);
    background-position: center 0;
    -webkit-box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75); }

/*=================================09 Riders*/
#riders {
  color: #67b2e7;
  background-color: #031d40; }
  #riders .routename {
    font-size: .5em;
    font-weight: 600;
    vertical-align: middle; }
    #riders .routename:before {
      content: "(";
      margin: 0 .25em;
      font-size: 1.25em; }
    #riders .routename:after {
      content: ")";
      margin: 0 .25em;
      font-size: 1.25em; }
  #riders .currentlocation {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .25em; }

/*=================================10 alumni*/
#alumni {
  background-color: #67b2e7; }

.alumni-list {
  margin: 0;
  padding: 0 0 0 10%;
  list-style-type: none;
  text-indent: none; }
  .alumni-list li {
    float: left;
    padding: 1em 0;
    text-align: left; }
    @media screen and (min-width: 40em) {
      .alumni-list li {
        width: 45%;
        padding: .5em 5% .5em 0; } }
    @media screen and (min-width: 66.66667em) {
      .alumni-list li {
        width: 30%;
        padding: .5em 3% .5em 0; } }
    @media screen and (min-width: 93.33333em) {
      .alumni-list li {
        width: 22%;
        padding: .5em 3% .5em 0; } }
    @media screen and (min-width: 133.33333em) {
      .alumni-list li {
        width: 16%;
        padding: .5em 3% .5em 0; } }

/*=================================11 financials*/
#financials {
  text-align: left !important;
  padding: 2em 5% !important; }

/*=================================12 support*/
#support {
  padding-top: 0 !important; }
  #support header {
    background-image: url(../img/content/12support/support.jpg);
    background-position: center 0;
    -webkit-box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -15em 10em -2em rgba(0, 0, 0, 0.75); }
  #support li img {
    width: 100%; }

/*=================================14 contact*/
#contact {
  color: #888888;
  background-color: #222222; }
  #contact h2, #contact h3 {
    text-align: left !important;
    padding: 0 10%;
    color: white; }

.board, .staff {
  list-style-type: none;
  margin: 0 0;
  padding: 0 10%;
  max-width: 80em; }
  .board li, .staff li {
    display: block;
    float: left;
    width: 45%;
    padding: 1em 5% 1em 0%;
    text-align: left;
    min-height: 12em; }
    .board li strong, .staff li strong {
      color: #e2231a; }
    .board li em, .staff li em {
      color: #eeeeee; }
    .board li img, .staff li img {
      width: 60%;
      margin: 0 20% 2em 20%;
      display: block;
      clear: both;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    .board li span, .staff li span {
      width: 100%; }
    @media screen and (min-width: 32em) {
      .board li, .staff li {
        width: 45%;
        padding: 1em 5% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .board li {
    width: 28%;
    min-height: 12em; }
    .board li img {
      width: 80%;
      margin: 0 10% 2em 10%; } }
@media screen and (min-width: 66.66667em) {
  .board li {
    width: 20% !important;
    min-height: 14em; } }
@media screen and (min-width: 80em) {
  .board li {
    min-height: 12em; } }

@media screen and (min-width: 66.66667em) {
  .staff li {
    width: 20% !important; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

body > section:before, .clearfix:before,
body > section:after, .clearfix:after {
  content: " ";
  display: table; }

body > section:after, .clearfix:after {
  clear: both; }

body > section, .clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
