
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "mixins";
@import "typography";
@import "modules";

//Individual Section Backgrounds & Tweaks
h1{
	text-transform:uppercase;
	letter-spacing:.15em;
}

/*=================================01 intro	*/
#intro{
	background-image:url(../img/content/01intro/cover.jpg);
	
	.floating-text{
		@media screen and (min-width:(em(800))){
			font-size:1.25em;
			top:25%;
		}
		@media screen and (min-width:(em(1200))){
			font-size:1.5em;
			top:20%;
		}
	}
	.logo{
		width:8em;
		margin:0 auto;
		img{
			width:80%;
			padding:0 10%;
		}
	}
}

/*=================================02 letter*/
#letter{
	color:$dkblue;
	
	h2{
		//color:$red;
	}
}
.signatures{
	list-style-type:none;
	text-align:center;
	padding:0;
	margin:0;
	li{
		float:left;
		width:15%;
		padding:1em 5%;
	}
	img{
		width:100%;
	}
	span{
		
	}
}

/*=================================03 Housing*/
#housing{
	background-image:url(../img/content/03housing/housing.jpg);
}

/*=================================04 about*/
#about{
	color:$white;
	background-color:$red;
}

/*=================================05 accomplishments*/
#accomplishments{	
	h2, h3{
		color:$ltblue;
}
.figures{
	list-style-type:none;
	margin:0;
	padding:0;
	li{
		float:left;
		width:100%;
		padding:1em 0;
		@media screen and (min-width:(em(600))){
			width:45%;
			padding:1em 5% 1em 0;
		}
		@media screen and (min-width:(em(800))){
			width:29%;
			padding:1em 4% 1em 0;
		}
		

	}
	.numbers{
		display:block;
		width:90%;
		padding:1.25em 5% .5em 5%;
		font-size:5em;
		margin:0;
		@media screen and (min-width:(em(600))){
			font-size:8em;
		}
		@media screen and (min-width:(em(800))){
			font-size:10em;
		}
	}
	h4{
		padding-bottom:3em;
	}
	#figure-donated{
		background-image:url(../img/content/05accomplishments/figures/donated.jpg);
	}
	#figure-pedaled{
		background-image:url(../img/content/05accomplishments/figures/pedaled.jpg);
	}
	#figure-buildhours{
		background-image:url(../img/content/05accomplishments/figures/buildhours.jpg);
	}
	#figure-buildsites{
		background-image:url(../img/content/05accomplishments/figures/buildsites.jpg);
	}
	#figure-riders{
		background-image:url(../img/content/05accomplishments/figures/riders.jpg);
	}
	#figure-organizations{
		background-image:url(../img/content/05accomplishments/figures/organizations.jpg);
	}
	#figure-averageraised{
		background-image:url(../img/content/05accomplishments/figures/averageraised.jpg);
	}
}
.figure-slider{
	min-height:(em(500));
	text-align:center;
	.wrapper{
		//text-align:center;
	}
	&:before{
		background-color:$ltblue;
	}
}
#orgfigures{
	padding:2em 0;
}
.numbers{
	display:block;
	font-size:3em;
	margin:.5em 0 .5em -.05em;
	
	@media screen and (min-width:(em(800))){
		font-size:4em;
	}
}
.fundraisers{
	list-style-type:none;
	padding:0;
	li{
		float:left;
		width:45%;
		padding:1em 2.5%;
		text-align:center;
		img{
			width:80%;
			margin:0 10%;
			
			@include perfect-circle;
		}
		@media screen and (min-width:(em(800))){
			width:15%;
			img{
				width:100%;
				margin:0;
				@include perfect-circle;
			}
		}
		
	}
}
}

/*=================================06 scholarships*/
#scholarship{
	color:$light-grey;
	background-color:$dark-grey;
	aside{
		top:0;
	}
	#recipients{
		margin:0 0 1em 0;
		padding:0;
		li{
			color:$dark-grey;
			list-style-type:none;
			float:left;
			width:40%;
			margin:1em 2.5%;
			padding:1em 2.5%;
			text-align:center;
			background-color:$light-grey;
			@include half-em-border-radius;
		}
		img{
			border:1px solid $medium-grey;
			width:100%;
			@include one-em-border-radius;
		}
	}
}

/*=================================07 Grantees*/
#grantees{
	background-color:$white;
	color:$dkblue;
	padding:2em 0 0 0!important;
	.swipe{
		background-color:$dkblue;
	}
}
	#grantee-1{
		.bg-wrap{
			background-image:url(../img/content/07grantees/grantee_antelopevalley.jpg);
	 	}
	 }
	#grantee-2{
		.bg-wrap{
		background-image:url(../img/content/07grantees/grantee_portland.jpg);
	 	}
	 }
	#grantee-3{
		.bg-wrap{
		background-image:url(../img/content/07grantees/grantee_nola.jpg);	
		}
	 }
	#grantee-4{
		.bg-wrap{
		background-image:url(../img/content/07grantees/grantee_colorado.jpg);
	 	}
	 }
#grantee-1, #grantee-2, #grantee-3, #grantee-4{
	position:relative;
	
	.bg-wrap{
		@include full-bleed-background;
	}
	header{
		padding:15em 10% 5em;
		background-color:rgba(003,029,064,.75);
	}
	.content{
		padding:2em 10%;
		max-width:(em(800));
		text-align:left;
	}
}
 
.grantee-slider{
	text-align:left;
	&:before{
		background-color:$dkblue;
	}
}

/*=================================08 hosts*/
#hosts{
	padding-top:0!important;
	header{
		padding:22em 8% 2em;
		position:relative;
		color:$white;
		background-image:url(../img/content/08hosts/hosts.jpg);
		@include full-bleed-background;
		background-position:center -5em;
	}
}

/*=================================09 Riders*/
#riders{
	color:$ltblue;
	background-color:$dkblue;
	
	.routename{
		font-size:.5em;
		font-weight:600;
		//text-transform:uppercase;
		vertical-align:middle;
		&:before{content:"(";margin:0 .25em; font-size:1.25em}
		&:after{content:")";margin:0 .25em; font-size:1.25em}
	}
	
	.currentlocation{
		font-size:1em;
		text-transform:uppercase;
		letter-spacing:.25em;
	}
}

/*=================================10 alumni*/
#alumni{
	background-color:$ltblue;
}
.alumni-list{
	margin:0;
	padding:0 0 0 10%;
	list-style-type:none;
	text-indent:none;
	li{
		float:left;
		padding:1em 0;
		text-align:left;
		@media screen and (min-width:(em(600))){
			width:45%;
			padding:.5em 5% .5em 0;
		}
		@media screen and (min-width:(em(1000))){
			width:30%;
			padding:.5em 3% .5em 0;
		}
		@media screen and (min-width:(em(1400))){
			width:22%;
			padding:.5em 3% .5em 0;
		}
		@media screen and (min-width:(em(2000))){
			width:16%;
			padding:.5em 3% .5em 0;
		}
		
	}
}

/*=================================11 financials*/
#financials{
	text-align:left!important;
	padding:2em 5%!important;
}
#expenses{
	td{
		&:last-child{
			//color:$red;
		}
	}
}

/*=================================12 support*/
#support{
	color:$dkblue;
	background-color:$ltblue;
}

/*=================================14 contact*/
#contact{
	//color:$white;
	//background-color:$dkblue;
}
.board, .staff{
	list-style-type:none;
	padding:0;
	margin:0 auto;
	max-width:(em(800));
	li{
		display:block;
		float:left;
		width:45%;
		padding:1em 2.5% 1em 2.5%;
		text-align:center;
		min-height:28em;		
		img{
			width:60%;
			margin:0 20% 2em 20%;
			display:block;
			clear:both;
			@include perfect-circle;
		}
		span{
			width:100%;
		}
		
		@media screen and (min-width:(em(480))){
			width:45%;
			padding:1em 2.5% 1em 2.5%;
		}
		
		@media screen and (min-width:(em(800))){
			width:28%;
			img{
				width:80%;
				margin:0 10% 2em 10%;
			}
		}
	}
}
.staff{
	max-width:(em(1100));
	li{
		@media screen and (min-width:(em(800))){
			width:20%!important;
		}
	}
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

body>section:before, .clearfix:before,
body>section:after, .clearfix:after {
    content: " ";
    display: table;
}

body>section:after, .clearfix:after {
    clear: both;
}

body>section, .clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}