//Modules
/* 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// GLOBAL */


/* ======================================================== LINKS / BUTTONS  */

a, ul a, p a{
	color:inherit;
	text-decoration:underline;
	@include quarter-second-transition;	
	
	&:hover{
	color:$action-color;
	text-decoration:underline;
	}
	&:active{
	color:$action-color;
		
	}
	&:visited{
	text-decoration:line-through;	
	}
}

button{
	color:$white;
	background-color:transparent;
	padding:1em;
	margin:1em;
	border:1px solid transparent;
	@include quarter-second-transition;	
	&:hover{
	color:$action-color;
	background-color:$white;
	border:1px solid transparent;	
	}
	&:hover{
	color:$action-color;
	background-color:$white;	
	}
}

.next-section{
	display:block;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	padding:1em 0;
	color:$white;
	text-decoration:none;
	@include quarter-second-transition;	
	&:hover{
		//background-color:$white;
		text-decoration:none;
		color:$white;
		padding:1.5em 0 .5em 0;
	}	
}

li{
	img{
		border:2px solid $white;
	}
}

/* ======================================================== LISTS */

.basic-list{
	list-style-type:disc;
	text-indent:none;
	padding:0 0 0 1em;
	color:$medium-grey;
	li{
		float:none;
		text-indent:none;
	}
}

.one-column{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
}
.two-columns{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:left;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
	
	@media screen and (min-width:(em(800))){
		>li{
			width:45%;
			padding:1em 5% 1em 0;
		}
	}
}

.three-columns{
	list-style-type:none;
	margin:0;
	padding:0;
	text-indent:none;
	text-align:center;	
	>li{
		float:left;
		width:90%;
		padding:1em 5%;
	}
	
	@media screen and (min-width:(em(800))){
		>li:first-child, >li:last-child{
			width:29%;
			padding:1em 4% 1em 0;
		}
		>li{
			width:30%;
			padding:1em 4% 1em 0;
		}
	}
}

/* ======================================================== LOGO / TOGGLE / NAVIGATION  */

#header{	
	#logo, #toggle{
		position:fixed;
		top:0;
		z-index:1000;
		
		cursor:pointer;
		text-decoration:none;
		display:block;
		padding:.75em;
		text-transform:uppercase;
		letter-spacing: .15em;
		@include quarter-second-transition;
		img{
			width:100%;
			@include perfect-circle;
		}			
		&:hover{
			img{
				
			}
		}		
	}
	#logo{
		width:3.5em;
		height:3.5em;
		right:0;
	}
	#toggle{
		background-color:$dark-grey;
		color:$white;
		border-right:1px solid $medium-grey;
		border-bottom:1px solid $medium-grey;
		width:4em;
		left:0;
		padding:1em 0;
		text-align:center;
		//overflow:hidden;
	}
}

#primary-nav{
	position:fixed;
	border-right:1px solid $medium-grey;
	width:70%;
	padding:2.5em 0 3.5em 0;
	background-color:$dark-grey;
	z-index:999;
	top:0;
	bottom:0;
	left:0;
	max-width:20em;
	overflow-y:scroll;
	overflow-x:hidden;
	@include quarter-second-transition;		
	
	h3{
		color:$dkblue;		
	}
}

.primary, nav ol {
	list-style-type:none;
	padding: 0;
	width:100%;
	color:$white;
	margin:1em 0 .5em;
	li{
		&:hover{
			color:$red;
			}
		&:active{
			color:$red;
		}
		a{
			display:block;
			text-decoration:none;
			margin:0;
			font-size:1em;
			padding:.75em 1.5em;
			line-height:150%;
			&:hover{background-color:$white;color:$red;text-decoration:none;}
			&:active{background-color:$white;color:$red;text-decoration:none;}
			
		}	
	}
	.toc-number{
		padding-right:1em;
	}
	.toc-name{
		opacity:0;
		display:none;
	}
}

#primary-nav.open{
	opacity:1;
	max-width:auto;
	.toc-name{
		opacity:1;
		display:inline;
	}
}
#primary-nav.closed{
	max-width:4em;	
}

.fadeout{
	opacity:0;
	@include quarter-second-transition;
}
.fadein{
	opacity:.75;
	@include quarter-second-transition;
}

/* ======================================================== OPEN / CLOSE */

//Projects
.expanded{
	opacity:1;
	max-height:auto;
	overflow:auto;
}
.collapsed{
	opacity:0;
	max-height:0;
	overflow:hidden;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 1px solid white;
	@include quarter-second-transition;
}

/* LAYOUT ====================== */
body{
	margin:0;
	padding:0;
}
#main{
	margin-left:4em;
	>section{
		padding:2em 0;
		margin:0;
		text-align:center;
		z-index:1;
	}
}

.overlay-wrap{
	position:absolute;
	z-index:2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.15);
}
.floating-text{
	display:block;
	margin: auto;
	position: absolute;
	top: 30%; left: 0; right: 0;
	overflow:visible;
	color:$white;
	z-index:2;	
}
.full-screen{
	background-size:cover;
	background-position:center;
	padding:0 !important;
	width:100%;
	position:relative;
	img{
		width:100%;
	}
}

//Articles / Content 
article{
	position:relative;
	//width:100%;
	text-align:left;
	width:80%;
	margin:3em auto;
	max-width:50em;
	
	header, footer{
		width:90%;
		padding:2em 5%;
		text-align:center;
	}
	.content{
		
	}
	h3{
		border-top:1px solid;
		padding-top:1em;
	}
	aside{
		font-size:.85em;
		font-style:italic;
		padding:1em 0;
		clear:both;
		
		img{
			float:left;
			width:8em;
			margin:0 1em;
			border:2px solid $white;
			@include perfect-circle;
			
			@media screen and (min-width:(em(1300))){
				width:100%;
				margin:0 0 2em 0;
			}
		}
		
		@media screen and (min-width:(em(1300))){
			position:absolute;
			width:30%;
			right:-35%;
		}
	}
	.speaker{
		display: block;
		margin-left: -4em;
		position: absolute;
		opacity:0.5;
		text-transform:uppercase;
		font-size:.8em;
		
	}
}



//Swipe Classes
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  
  :last-child{
	 // z-index:5000;
  }
  
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.article-slider{
	background-image:url(../img/content/prototype/project-image.jpg);
	background-size:cover;
	background-position:center;
	position:relative;
	&:before{
		opacity:.85;
		content:" ";
		position:absolute;
		background-color:$red;
		z-index:0;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
	.wrapper{
		position:relative;
		z-index:40;
		color:$white;
		text-align:left;
		padding:1em;
		margin:1em auto;
		max-width:(em(800));
		//background-color:$dkblue;
		
	}
}

.button{
	display:block;
	position:absolute;
	cursor:pointer;
	top:40%;
	height:1em;
	padding:1.25em 1.5em 2em 1.5em;
	color:$dkblue;
	background-color:$white;
	opacity:.5;
	@include quarter-second-transition;
	
	&:hover, &:active{
		opacity:1;
	}
}
.prev{
	left:0;
}
.next{
	right:0;
}


//Primary Footer
#footer{
	background-color:$dkblue;
	color:$ltblue;
	width:100%;
	padding:1em 0;
	text-align:center;
	
}
#top{
	position:fixed;
	bottom:0;
	z-index:1000;
	display:block;
	padding:1em 1.5em;
	font-size:1em;	
	color:$medium-grey;
	background-color:$dark-grey;
	color:$white;
	border-top:1px solid $ltblue;
	text-decoration:none;
	@include quarter-second-transition;
	&:hover{
		opacity:1;
		color:$action-color;
	}
	&:active{
		opacity:1;
		color:$action-color;
	}
}